# Fundamentals of Data Analysis - Project 

**Author: Cecilia Pastore**

***

### 1. Introduction

<details>
    <summary>Task requested:</summary>
           <p>
           
Project

• The project is to create a notebook investigating the variables and data points within the well-known iris flower data set associated with Ronald A Fisher.

• In the notebook, you should discuss the classification of each variable within the data set according to common variable types and scales of measurement in mathematics, statistics, and Python.

• Select, demonstrate, and explain the most appropriate summary statistics to describe each variable.

• Select, demonstrate, and explain the most appropriate plot(s) for each variable.

• The notebook should follow a cohesive narrative about the data set.

### 2. Irish Flower Dataset

The iris flower dataset is a well-known dataset in the field of data science, and it is often used to illustrate basic data analysis, visualization techniques and machine learning . The Iris Dataset is considered as the "Hello World" for data science.

<div>
  <center><img src="https://machinelearninghd.com/wp-content/uploads/2021/03/iris-dataset.png" width="600"></center>
</div>

<div>
  <center><a href="https://machinelearninghd.com/iris-dataset-uci-machine-learning-repository-project/"><i>[Fig. 1] - Iris Flowers </i></a></center>
</div>

The dataset contains measurements of the sepal length, sepal width, petal length, and petal width for 150 iris flowers belonging to three different species: Iris setosa, Iris versicolor, and Iris virginica. Fifty samples are collected for each species with no null value.

The iris flower dataset was originally collected by the botanist Edgar Anderson in the 1930s and later popularized by the statistician Ronald Fisher in his seminal paper on discriminant analysis. The dataset is sometimes referred to as Anderson's Iris dataset, as Anderson collected it to quantify the morphological variations among three closely related Iris species. Anderson ensured that all of the samples were collected from the same pasture on the Gaspé Peninsula, on the same day, and measured at the same time by the same person using the same apparatus [[]](https://rpubs.com/AjinkyaUC/Iris_DataSet).

Since then, the dataset has become a classic example in the field of data science, and it is frequently used in introductory courses and textbooks. It is a simple and well-understood dataset, making it a popular choice for teaching and research purposes, providing an excellent opportunity to explore different aspects of data analysis and visualization.

The dataset is widely available and can be accessed freely on the UCI website [[]](https://archive.ics.uci.edu/dataset/53/iris).

### 2. import the dataset 

**Import the needed libraries**

As a first step, We wiil need to import the needed libraries for the script:

- Pandas: A Python library simplifying data manipulation, offering user-friendly data structures and tools for reading, cleaning, analyzing, and visualizing structured data, making it an essential choice for data handling and analysis tasks. Pandas is commonly used in various fields for its efficiency and versatility. [[]](https://pandas.pydata.org/).

In [3]:
# import the needed libraries 
import pandas as pd

**Import the datased on a pandas dataframe**

The dataset need to be imported. This Python script employs the Pandas library to access the Iris dataset from a designated URL [[]](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data), structuring the data into a tabular format known as a DataFrame, using the function read_csv(). It explicitly labels the columns with predefined names for easier manipulation, analysis, and exploration of the dataset within the Python environment.

In [6]:
# https://www.angela1c.com/projects/iris_project/downloading-iris/
# Define as a variable and URL pointing to the Iris dataset
csv_url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'

# Column names for the datasetDD
col_names = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

# Read the data from the URL and assign column names
iris = pd.read_csv(csv_url, names=col_names)

The code uses the **.replace()** function to update the "Species" column in the Iris dataset. It changes long names like 'Iris-setosa' to 'Setosa', 'Iris-versicolor' to 'Versicolor', and 'Iris-virginica' to 'Virginica. These changes make the dataset easier to read and work with, improving how we analyze the information without changing the core data [[]](https://datagy.io/pandas-replace-values/).

In [7]:
# Replacing the species names with more user-friendly names in the "Species" column

# Replace 'Iris-setosa' with 'Setosa' in the "Species" column
iris["Species"].replace(to_replace="Iris-setosa", value="Setosa", inplace=True)
# Replace 'Iris-versicolor' with 'Versicolor' in the "Species" column
iris["Species"].replace(to_replace="Iris-versicolor", value="Versicolor", inplace=True)
# Replace 'Iris-virginica' with 'Virginica' in the "Species" column
iris["Species"].replace(to_replace="Iris-virginica", value="Virginica", inplace=True)

### 3. Type of variables.

The IRS dataset includes information on different aspects of iris flowers. There are five variables:

- *Sepal_Length*: This records the length of the sepals in the flowers in cm. Sepals are the outer parts of a flower, usually green and leaf-like.
- *Sepal_Width*: Similar to Sepal_Length, this variable captures the width of the sepals in cm.
- *Petal_Length*: This variable notes the length of the petals in cm, which are the inner, often colorful parts of a flower.
- *Petal_Width*: Similar to Petal_Length, this variable documents the width of the petals in cm.
- *Species*: This variable categorizes the type of iris species. It's a categorical variable, indicating which specific species of iris the measurements belong to. This categorical variable include species like setosa, versicolor, and virginica.

<div>
  <center><img src="https://www.bogotobogo.com/python/scikit-learn/images/features/iris-data-set.png" width="400"></center>
</div>

<div>
  <center><a href="https://www.bogotobogo.com/python/scikit-learn/scikit_machine_learning_features_extraction.php"><i>[Fig. 2] - Iris Flowers measurement </i></a></center>
</div>

#### 3.1 Type of variables - classification 

Here a summary of the calssification of each variable in the Iris dataset:

| Variables      | Type |
| -------------- | ----- |
| Sepal_Length    | Numerical-Continuos-Ratio   |
| Sepal_Width       | Numerical-Continuos-Ratio    |
| Petal_Length   | Numerical-Continuos-Ratio    |
| Petal_Width    | Numerical-Continuos-Ratio  |
| Species     | Categorical - Nominal     |

The first classification is between Cathegorical data and Numerical data [[]](https://www.k2analytics.co.in/statistics-types-of-variables/).

**Categorical Data**:

Categorical data categorizes qualities or characteristics into distinct groups. It's often non-numeric, representing attributes rather than quantities. This type of data can be subdivided into:

- Nominal: These labels represent categories without inherent quantitative meaning or relative order. Examples include colors, types of cars, or gender.
- Ordinal: Values represent categories with a relative order or ranking among them. While lacking quantitative significance, they exhibit a defined order, such as satisfaction levels (e.g., "low," "medium," "high").

**Numerical Data**:

Numerical data quantifies and measures values using numbers. It can be further categorized into:

1. Discrete Variable: These take distinct, separate values without intermediate points. For instance, the count of items, like the number of transactions made by a customer on a given day.
2. Continuos Variable: These variables can take any value within a range. There are two types within continuous variables:
    - Interval Ratio Variables: Quantitative variables without inherent meaningful ratios and lacking a defined zero point, such as temperatures in Celsius or Fahrenheit.
    - Ratio Variables: Quantitative variables with meaningful value ratios and a clear zero point, like the age of individuals or account balances.

<div>
  <center><img src="https://www.k2analytics.co.in/wp-content/uploads/2020/04/Capture-1024x418.png" width="400"></center>
</div>

<div>
  <center><a href="https://www.k2analytics.co.in/statistics-types-of-variables/"><i>[Fig. 3] - Variables classification </i></a></center>
</div>

    - Species 

The *Species* variable in the dataset represents the different species that are the subjects of observation.

The Species variable is categorized as a categorical variable and, more specifically, as a nominal categorical variable. This is because it represents different, unrelated categories without any inherent order or ranking among them. Each species, whether it's Setosa, Versicolor, or Virginica, is treated as a distinct and separate category with equal standing in the dataset.

    - Sepal_Length/Sepal_Width/Petal_Length/Petal_Width.

These variables represent specific measurements of the iris flowers. 
They are numerical, continuous, and ratio variables. 
These measurements are continuous, meaning they can include fractional or decimal values, and they fall under the category of ratio variables because their measurements hold a meaningful zero point and the ratios between the values are significant in their interpretation and analysis.

#### 3.2 Type of variables - Python Data types 

In Python, each variable is associated with a specific data type, categorizing the information it represents and dictating how it should be handled in the program. This classification determines the operations that can be executed on the variable and influences its memory storage.

When working with Python libraries like NumPy and Pandas, the concept of data types extends beyond the native Python types. These libraries introduce their own specialized data structures and types, optimizing the handling of large datasets and providing additional functionalities not available in standard Python. 

In Python, each data type has a singular representation [[]](https://docs.python.org/3/library/stdtypes.html).

<div>
  <center><img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg" width="400"></center>
</div>

<div>
  <center><a href="https://www.geeksforgeeks.org/python-data-types//"><i>[Fig. 4] - Python Data type </i></a></center>
</div>

 NumPy expands on this by providing an extensive range of numerical types beyond Python's defaults; for instance, multiple float types are available. 
 
<br/>
<br/>
<div>
  <center><img src="https://www.simplifiedpython.net/wp-content/uploads/2018/11/Python-NumPy-768x472.jpg" width="400"></center>
</div>
<br/>
<br/>
<div>
  <center><a href="https://www.simplifiedpython.net/python-numpy/"><i>[Fig. 5] - Numpy Data Types</i></a></center>
</div>
<br/>
 
  Lastly, Pandas specializes in handling structured data by offering DataFrames, enabling efficient manipulation, analysis, and exploration of tabular datasets with diverse data types within the same structure.

  <br/>
<br/>
<div>
  <center><img src="https://pbpython.com/images/pandas_dtypes.png" width="400"></center>
</div>
<br/>
<br/>
<div>
  <center><a href="https://pbpython.com/pandas_dtypes.html"><i>[Fig. 6] - Overview of Data types</i></a></center>
</div>

To uncover the automatic data type classification of each variable, we can begin by inspecting the types assigned by Pandas. This can be easily accomplished by employing the .dtype() function for a swift examination.

In [8]:
iris.dtypes

Sepal_Length    object
Sepal_Width     object
Petal_Length    object
Petal_Width     object
Species         object
dtype: object

In Pandas, the .dtype() function automatically assigns the 'object' data type. 'Object' represents a mixed data type capable of containing various data types as float and string. We can now delve into exploring the specific data types for each variable in the dataset.

**Species**

- Pandas

The **Species** variable represents a categorical nominal variable with three distinct outputs. **Pandas** introduces a specialized data type named **Categorical**, created to manage variables with a restricted set of unique values. This exclusive data type significantly makes it much easier to organize and work with this type of categorical data in datasets, focusing on using memory efficiently

On the other hand, the **Object** data type in Pandas is more versatile, accommodating various data structures, including textual data, and allowing mixed or diverse data types within a column. While providing flexibility, the 'object' type may not deliver the same memory and computational efficiencies as the specican yofically designed categorical data types.

- Numpy

In **NumPy**, for non-numeric categorical variables like the 'Species' variable, both the **Object** and **String** data types are applicable for their representation. The 'Object' type offers versatility, accommodating diverse values. On the other hand, the 'String' data type is particularly efficient in managing textual information but is more suitable for fixed-size string data. In this context, as the variable as threee fixed output, the 'String' type might be initially suitable, yet the 'Object' type is also viable. Additionally, we can employ the unicode string. Unicode Strings follow a standardized encoding, permitting a broader range of characters beyond just ASCII, making it a favorable choice, especially when optimizing memory isn't the primary consideration [[]](https://numpy.org/doc/stable/reference/arrays.dtypes.html#arrays-dtypes).

- Python 

In **Python***, the best data type to represent this kind of categorical information is the **string** data type. This is because the species names are textual and don't involve numerical operations. Storing the species names as strings allows for easy handling and identification of different categories within the dataset. Alternatevely, the **object** data type can also be employed. The object type in Python is a more generic type that can hold any data type, including strings. It offers flexibility, allowing for the storage of not just strings but potentially other data types within the same column or variable.

### 3. Explore and Cleaning of the

Once the dataset have been imported and formatted in the needed way, we will need to explore it and prepare it for analysis. 

https://www.geeksforgeeks.org/python-pandas-dataframe-series-head-method/

In [ ]:
# checking the first 5 line of the dataset to see if the format fit
print("==== First 5 line of the dataset ==== \n \n")
print(str(iris.head())+'\n \n')

==== First 5 line of the dataset ====


   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

https://www.geeksforgeeks.org/exploratory-data-analysis-on-iris-dataset/

In [ ]:
# print unique value on the the species colume to check no duplicate and that the replace has been done correctly 
print("==== Print unique value of species ==== \n \n")
unique_species = pd.unique(iris['Species'])
print("Species\n \n")
for species in unique_species:
        f.write(species)
        f.write("\n")
print("\n")

==== Print unique value of species ====


Species

NameError: name 'f' is not defined

In [ ]:
iris.groupby('Species').count().reset_index()

      Species  Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0      Setosa            50           50            50           50
1  Versicolor            50           50            50           50
2   Virginica            50           50            50           50

https://www.geeksforgeeks.org/exploratory-data-analysis-on-iris-dataset/

In [ ]:
# checking missing value
print("==== Checking missing value ==== \n \n")
print (str(iris.isnull().sum())+'\n \n')

==== Checking missing value ====


Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [ ]:
# shape of the datased
print("==== Shape of the dataset ==== \n \n")
print("Number of rows: {}\n".format(iris.shape[0]))
print("Number of columns: {}\n".format(iris.shape[1]))
print("Size: {}\n".format(iris.size))
print("Columns: {}\n\n".format(", ".join(iris.columns)))
print(str(iris.value_counts("Species"))+'\n\n')

==== Shape of the dataset ====


Number of rows: 150

Number of columns: 5

Size: 750

Columns: Sepal_Length, Sepal_Width, Petal_Length, Petal_Width, Species


Species
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [ ]:
# get the data type 
print("==== Data type ==== \n")
print("Attribute \t Type \n")
print(str(iris.dtypes)+'\n\n')

==== Data type ====

Attribute 	 Type

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

### 4. The variable of the dataset and thir

Statistics

In [ ]:
# get statistics 
print("==== Statistics ==== \n \n")
print(str(iris.describe())+'\n\n')

==== Statistics ====


       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

https://learnpython.com/blog/how-to-summarize-data-in-python/
https://www.w3schools.com/python/pandas/ref_df_agg.asp

In [ ]:
# get an user more friendly view of the statistics 
# for loop to print for each species the varaible mean, median, std, min, max 
for column in iris.columns[:-1]:
    print(f"==== {column} Statistics ====\n\n")
    print(f"{iris.groupby('Species')[column].agg(['mean', 'median', 'std', 'min', 'max'])}\n\n")

==== Sepal_Length Statistics ====


             mean  median       std  min  max
Species
Setosa      5.006     5.0  0.352490  4.3  5.8
Versicolor  5.936     5.9  0.516171  4.9  7.0
Virginica   6.588     6.5  0.635880  4.9  7.9


==== Sepal_Width Statistics ====


             mean  median       std  min  max
Species
Setosa      3.418     3.4  0.381024  2.3  4.4
Versicolor  2.770     2.8  0.313798  2.0  3.4
Virginica   2.974     3.0  0.322497  2.2  3.8


==== Petal_Length Statistics ====


             mean  median       std  min  max
Species
Setosa      1.464    1.50  0.173511  1.0  1.9
Versicolor  4.260    4.35  0.469911  3.0  5.1
Virginica   5.552    5.55  0.551895  4.5  6.9


==== Petal_Width Statistics ====


             mean  median       std  min  max
Species
Setosa      0.244     0.2  0.107210  0.1  0.6
Versicolor  1.326     1.3  0.197753  1.0  1.8
Virginica   2.026     2.0  0.274650  1.4  2.5

https://stackoverflow.com/questions/55009203/how-does-pandas-calculate-quartiles

In [ ]:
# get quartile per species 
print("==== Quartiles per species ==== \n \n")
print(str(iris.groupby('Species').quantile([0.25, 0.50, 0.75]))+'\n\n')

==== Quartiles per species ====


                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Setosa     0.25         4.800        3.125         1.400          0.2
           0.50         5.000        3.400         1.500          0.2
           0.75         5.200        3.675         1.575          0.3
Versicolor 0.25         5.600        2.525         4.000          1.2
           0.50         5.900        2.800         4.350          1.3
           0.75         6.300        3.000         4.600          1.5
Virginica  0.25         6.225        2.800         5.100          1.8
           0.50         6.500        3.000         5.550          2.0
           0.75         6.900        3.175         5.875          2.3

***

### End