# Fundamental of Data Analysis Tasks

**Author: Cecilia Pastore**

***

## Table of Contents
* [Chapter 1](#chapter1)
    * [Section 1.1](#section_1_1)
        * [Sub Section 1.1.1](#sub_section_1_1_1)
* [Chapter 2](#chapter2)
    * [Section 2.1](#section_2_1)
        * [Sub Section 2.1.1](#sub_section_2_1_1)
        * [Sub Section 2.1.2](#sub_section_2_1_2)
    * [Section 2.2](#section_2_2)
        * [Sub Section 2.2.1](#sub_section_2_2_1)
        * [Sub Section 2.2.2](#sub_section_2_2_2)
* [Chapter 3](#chapter3)
    * [Section 3.1](#section_3_1)
        * [Sub Section 3.1.1](#sub_section_3_1_1)
        * [Sub Section 3.1.2](#sub_section_3_1_2)
    * [Section 3.2](#section_3_2)
        * [Sub Section 3.2.1](#sub_section_3_2_1)
        * [Sub Section 3.2.2](#sub_section_3_2_2)

### **Task 1 - The Collatz conjecture**

<details>
    <summary>Task requested:</summary>
           <p>

The Collatz conjecture1 is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive integer x and repeatedly apply the function f(x) below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .
$$
 f(n) =
  \begin{cases}
    n/2       & \quad \text{if } n \text{ is even}\\
    -(n+1)/2  & \quad \text{if } n \text{ is odd}
  \end{cases}
$$


For example, starting with the value 10, which is an even number,we divide it by 2 to get 5. Then 5 is an odd number so, we multiply by 3 and add 1 to get 16. Then we repeatedly divide by 2 to get 8, 4, 2, 1. Once we are at 1, we go back to 4 and get stuck in the repeating sequence 4, 2, 1 as we suspected.

Your task is to verify, using Python, that the conjecture is true for the first 10,000 positive integers.

</p>
</details>

I want to devide the task in 2 parts:
1. in the first part I will define a function f(x) and a function collatz(x) to check the collatz sequence for a number imput by the user 

2. in the second part, I'll use a for loop to check the Collatz sequence for each number from 1 to 10,000 to verify that the sequence ends up at 1.

**1.1 Verify the collatz conjecture for a given number**

In this section we will need to verify that the collatz conjecture is true for a casual number enter by the user.

<details>
    <summary>Summary of the code:</summary>
           <p>
           
1.  The script first prompts the user to enter a positive number. A while loop is used to validate whether the user inputs a positive number. If a positive number is provided, the script exits the while loop. However, if the user enters a negative number, the script will continue to prompt the user to enter a positive number until one is provided.

2. The first function, f(x), is defined. This function checks whether the number is even or odd and, based on that, performs a specific calculation.
    If the number is even, the script divides it by 2 and appends it to the "numbers" list.
    If the number is odd, the script multiplies the number by 3 and adds 1.
   
3. Finally, the collatz(x) function is responsible for computing and presenting the Collatz sequence for the given number.

The script prompt the user to enter a positive number [[1]](https://www.geeksforgeeks.org/how-to-take-integer-input-in-python/) which is then converted in an integer and stored in the number variable.

In [4]:
number = int(input("Please Enter a positive number: "))

A first while loop [[2]](https://www.programiz.com/python-programming/while-loop) is used to ensure that the user enters a positive number. If the number entered is less than or equal to 0, the loop will execute and prompt the user to enter a positive number again.

In [5]:
while number <=0:
    print("You didn't enter a positive number!")
    number = int(input("Please Enter a positive number: "))

Define a  function **f(x)** that takes an input integer x and checks whether x is even or odd [[3]](https://www.toppr.com/guides/python-guide/examples/python-examples/python-program-to-check-if-a-number-is-odd-or-even/) using the modulo operator %. If x is even, it divides x by 2 using integer division (//) and returns the result. If x is odd, it performs the operation 3 * x + 1 and returns the result.

In [6]:
def f(x):
    # if f is even, devide by two.
    if x % 2 == 0:
        return x // 2 
    else: 
        # If x is odd, perform the operation (3 * x) + 1 and return the result
        return (3 *x) +1

Define the **collatz(x)** function. The collatz function use the previous function to print the collatz sequence strating from x and continuing until the values reaches 1. During the loop, it prints each value of x in the sequence separated by hyphens. Finally, it prints the value 1 to indicate the end of the Collatz sequence.

In [7]:
def collatz(x):
    # Print a message indicating that we are testing the Collatz sequence with the initial value x
    print(f'Testing Collatz with initial value {x}')
    # while loop until x == 1
    while x != 1:
        # print the current value of x and update it using the collatz function 
        print(x, end= "-")
        x = f(x)
    # Print the final value (1)
    print(x)

Finally run the function **collatz(x)** based on the number entered by the user

In [8]:
collatz(number)

Testing Collatz with initial value 9
9-28-14-7-22-11-34-17-52-26-13-40-20-10-5-16-8-4-2-1

**1.2 Verify that the collatz's conjecture is true for the first 10,000 positive integers.**

In this section we will verify that the collatz's conjecture is true for all the number between 0 and 10000.

<details>
    <summary>Summary of the code:</summary>
           <p>
1. The script use the same function defined in task 1.1, **f(X)** to perform a specific calculation if the number is odd or even.

2. A list called **collatz_list** is initializes to store the result of Collatz sequences for a range of positive integers.

3. The function **collatz_sec(x)** is defined. This function applies the Collatz sequence rules to a given positive integer x, iteratively updating it until it reaches the value 1, and then returns that final value.

4. A loop iterates through positive integers from 1 to 10,000, to calculate the Collatz sequence for each integer and stores the final value in the **collatz_list**.

5. The highest value within the **collatz_list** is identifies. If this max value is 1, the collatz's conjecture is verified and the result it is printed

The function **collatz_sec(x)** calculates the Collatz sequence for a given positive integer x by iteratively applying the function f(x) until x reaches the final value of 1. It then returns this final value of 1 as per the Collatz sequence rule.

In [9]:
def collatz_sec(x):
    # Keep running the Collatz sequence until x reaches 1
    while x != 1:
        x = f(x)  # Apply the function f(x) to update x
    return x  # Return the final value of x, which is 1 for the Collatz sequence

The list **collatz_list** is defined as empty.

In [10]:
collatz_list = []  # Initialize an empty list to store results

A for loop is used to calculate the Collatz sequence for integers from 1 to 10,000 and stores the results in collatz_list [[4]](https://www.freecodecamp.org/news/python-map-function-how-to-map-a-list-in-python-3-0-with-example-code/).

In [11]:
# Loop through positive integers from 1 to 10,000
for i in range(1, 10001):
    collatz_list.append(collatz_sec(i))  # Calculate the Collatz sequence for i and store the result

A max() [[5]](https://www.w3schools.com/python/ref_func_max.asp) function is used to return the item with the highest value in the **collatz_list** and this is stored in the variable **max_number**.

In [12]:
max_number = max(collatz_list)  # Find the maximum value in the collatz_list

Finally, an if statement [[6]](https://www.w3schools.com/python/python_conditions.asp) checks whether the maximum value is equal to 1, which is a key condition to verify Collatz's conjecture. If it is 1, it confirms the conjecture's truth for the specified range of positive integers and prints a corresponding message. Otherwise, it prints a message indicating that the conjecture is not true.

In [13]:
# Check if the maximum number is equal to 1 and print the relevant message 
if max_number == 1: 
    print("The collatz's conjecture is true for the first 10,000 positive integers.")
else:
    print("The collatz's conjecture is not true for the first 10,000 positive integers.")

The collatz's conjecture is true for the first 10,000 positive integers.

### **Task 2 - The Penguins Data Set**

<details>
    <summary>Task requested:</summary>
           <p>

Give an overview of the famous penguins data set, explaining the types of variables it contains. Suggest the types of variables that should be used to model them in Python, explaining your rationale.

The task will be devided in 2 steps:
1. In the first section, the penguins dataset will be presented, imported explored and cleaned to have a better view of his caractheristic.
2. In the second part will be explained what type of variabble it contain and what should be used to model them in phyton.

#### **2.1 Overview of the Palmer Penguins Data set**

##### **2.1.2 Palmer Penguins Data Set introduction**

<div>
  <center><img src="https://i0.wp.com/begincodingnow.com/wp-content/uploads/2023/03/palmerpenguins.png?ssl=1" width="300"></center>
</div>

<div>
  <center><a href="https://allisonhorst.github.io/palmerpenguins/articles/art.html"><i>[Fig. 1] - Palmer penguins hex</i></a></center>
</div>

The Palmer Penguin dataset [[7]](https://github.com/mwaskom/seaborn-data/blob/master/penguins.csv), also known as the Palmer Archipelago penguin dataset, is a popular and publicly available dataset that contains a collection of morphological measurement and observational data for three species of penguins found on the Palmer Archipelago near the Antarctic Peninsula[[8]](https://www.chegg.com/homework-help/questions-and-answers/palmerpenguins-dataset-collection-morphological-measurements-observational-data-three-spec-q114471634). This dataset is often used, as a great alternative to the Iris dataset, for educational and research purposes in data science and machine learning [[9]](https://allisonhorst.github.io/palmerpenguins/articles/intro.html).

<div>
  <center><img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png" width="500"></center>
</div>

<div>
  <center><a href="https://allisonhorst.github.io/palmerpenguins/articles/art.html"><i>[Fig. 2] - Palmer Species</i></a></center>
</div>

Data for this dataset were compiled during the years 2007 to 2009 by Dr. Kristen Gorman, a member of the Long Term Ecological Research Network, in collaboration with the Palmer Station, a research facility situated on Anvers Island in the Antarctic Peninsula.  

The objective was to investigate the entirety of available data concerning ecological sexual dimorphism and environmental variability within a community of Antarctic penguins belonging to the *Pygoscelis genus*, as documented in the work of Gorman, Williams, and Fraser in 2014 [[10]](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0090081).

<div>
  <center><img src="https://cdn2.vectorstock.com/i/1000x1000/00/26/diagram-showing-body-part-penguin-vector-25010026.jpg" width="500"></center>
</div>

<div>
  <center><a href="https://www.vectorstock.com/royalty-free-vector/diagram-showing-body-part-penguin-vector-25010026"><i>[Fig. 3] - Body Part of a penguin</i></a></center>
</div>

The dataset consist of 344 penguins observationthe following information for each penguin specimen[[11]](https://journal.r-project.org/articles/RJ-2022-020/):

1. Species: The species of penguins, which can be one of three types: Adelie, Gentoo, or Chinstrap.
2. Island: The specific island in the Palmer Archipelago where the penguin was observed. The dataset typically includes data from three islands: Biscoe, Dream, and Torgersen.
3. Culmen Length and Depth: Measurements of the culmen, which is the upper ridge of the penguin's beak, including its length and depth in millimeters.
4. Flipper Length: The length of the penguin's flipper, also measured in millimeters.
5. Body Mass: The mass of the penguin in grams.
6. Sex: The gender of the penguin, which can be male or female.


<div>
  <center><img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/culmen_depth.png" width="500"></center>
</div>

<div>
  <center><a href="https://www.vectorstock.com/royalty-free-vector/diagram-showing-body-part-penguin-vector-25010026"><i>[Fig. 4] - Penguins Bills</i></a></center>
</div>

##### **2.1.2 Import the Penguins Data Set**

There are several ways to import the penguins dataset. One of the most use is download it as a csv from an url online [[12]](https://www.kaggle.com/code/parulpandey/penguin-dataset-the-new-iris). Another option is to install the *palmerpenguins* library and use the *load_penguins* function to add the dataset into a pandas DataFrame [[13]](https://python-graph-gallery.com/web-ggbetweenstats-with-matplotlib/). A third approach is to use the load_dataset() function from the seaborn library [[14]](https://seaborn.pydata.org/generated/seaborn.load_dataset.html). I decided to opt for this last method as it don't involve the need to download the CSV file from a URL every time the script is executed.

The aim of this section is import the dataset and format it in a more friendly way.

<details>
    <summary>Summary of the code:</summary>
           <p>
           
1. The script first import the Penguins datased using using Seaborn's **load_dataset** function and store it in a dataframe called df.
2. the columns name is changed with the **column()** function to add a more friendly name.
3. the function **sample()** it is used to show five random row and check the new format.

***Code explanation***

Import the needed library:
1. Pandas: Pandas is a powerful data manipulation and analysis library for Python.  It provides tools to study, tidy up, explore, and change your datasets [[15]](https://pandas.pydata.org/).
2. Seaborn: Seaborn is a Python data visualization library that builds on top of Matplotlib. It offers an easy-to-use interface for creating visually appealing and informative statistical graphics [[16]](https://seaborn.pydata.org/).

In [14]:
import pandas as pd
import seaborn as sns

The dataset 'penguins' is loaded using Seaborn's 'load_dataset()' function and stored as a DataFrame in the variable 'df.' We will then display the content of the DataFrame to examine the first 5 rows and the last 5 rows. As expected, we can see a total of 344 rows.

In [15]:
# Load the "penguins" dataset using Seaborn's load_dataset function and store it in the variable 'df'
df=sns.load_dataset("penguins")
# Display the 'df' DataFrame, which contains the loaded dataset
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

I will finally change the column in a more friendly version [[17]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html) and use the function *sample()* to brings out a sample of 5 random rows.

In [16]:
# Changing column name for Clarity 
df.columns = ["Species", "Island", "Bill_Length(mm)", "Bill_Depth(mm)", "Flipper_Length(mm)", "Body_Mass(g)", "Sex"]
df.sample(5)

,Species,Island,Bill_Length(mm),Bill_Depth(mm),Flipper_Length(mm),Body_Mass(g),Sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,Male
212,Chinstrap,Dream,51.9,19.5,206.0,3950.0,Male
271,Gentoo,Biscoe,48.5,14.1,220.0,5300.0,Male
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,Male

**2.1.3 Data exploration and cleaning**

The aim of this section is to thoroughly examine the dataset, gain a clear understanding of its contents, identify the types of data it contains, and, if necessary, address any missing values to ensure that the dataset is properly prepared for further analysis.

<details>
    <summary>Summary:</summary>
           <p>

The script does:

1. It prints the shape of the DataFrame using **df.shape**, indicating the number of rows and columns.
2. It provides information about the DataFrame using the **df.info()** function. This function displays details about the data types of each column, the number of non-null values, and other basic information about the DataFrame's structure.
3. It generates summary statistics for the DataFrame using the **df.describe()** function. This function provides common statistics like mean, standard deviation, and quartiles for numeric columns.
4. A function is defined that output a **missing_values_table**. The table contains three key pieces of information for each column in a DataFrame: the count of missing values, the percentage of missing values relative to the total, and the data type of the columns.
5. Missing value are replaced using the sci-kit learns library **SimpleImputer**.

As first thing I will output the shame of the dataframe with the function **shape()**. It will display the number of row and columns. We can see that the dataset has 344 rows and 7 columns.

In [17]:
df.shape

(344, 7)

With the function **df.info()** [[12]](https://www.kaggle.com/code/parulpandey/penguin-dataset-the-new-iris) we can prints information about the dataset.  includes data types, the count of non-null values, and memory usage. This output helps understand the data structure and whether there are any missing values.

From the putput we can immediately see there are some miss value, for instance the non null value for the attribute sex is 333. As the total of the measures are 344 it mean there are 11 missing value for the sex field. 
data. 
It also tell us that 4 of the variables are type float, and this suggest Quantitative datas [[18]](https://careerfoundry.com/en/blog/data-analytics/difference-between-quantitative-and-qualitative-data/). Quantitatives data refer to any information that can be quantifield. Other 3 variables gave as a type "Objective". This suggest they may are qualitive data. Qualitative data is non-numeric and cannot be quantified or measured. Instead, it is descriptive in nature and conveyed using language or words, rather than numerical values

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             344 non-null    object
 1   Island              344 non-null    object
 2   Bill_Length(mm)     342 non-null    float64
 3   Bill_Depth(mm)      342 non-null    float64
 4   Flipper_Length(mm)  342 non-null    float64
 5   Body_Mass(g)        342 non-null    float64
 6   Sex                 333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

We can further explore missing values by using a function called **missing_value_summary**. In this function, we extract the count of missing values for each column in the DataFrame df using the **isnull().sum()** function. [[19]]( https://dzone.com/articles/pandas-dataframe-functionsplaying-with-multiple-da).

Next, the script calculates the percentage of missing values for each column relative to the total number of entries in **df**. It rounds the percentages to whole numbers, converts them to integers, and appends '%' symbols to represent them as strings [[20]](https://stackoverflow.com/questions/67922276/convert-pandas-dataframe-values-to-percentage#comment120055288_67922371).

The calculated fields are combined into a table called **missing_values_table**, and column names are assigned for clarity. This table is returned by the function.

In [19]:
# Define a function to check missing value 
def missing_value_summary(df):
    # count the number of missing value
    missing_value_count = df.isnull().sum()
    # calculate the percentage on the total
    percentage_missing_value = (100 * df.isnull().sum() / len(df)).round(0).astype(int).astype(str) + '%'
    #Create the table 
    missing_values_table = pd.concat([missing_value_count, percentage_missing_value], axis=1)
    # assign columns name 
    missing_values_table.columns = ["Missing Values", "Percentage Missing"]
    # return the missing value table 
    return missing_values_table


If now we take a look to the **missing_values_table** we can see there are some missing value that need to be adress.

In [20]:
missing_value_summary(df)

                    Missing Values Percentage Missing
Species                          0                 0%
Island                           0                 0%
Bill_Length(mm)                  2                 1%
Bill_Depth(mm)                   2                 1%
Flipper_Length(mm)               2                 1%
Body_Mass(g)                     2                 1%
Sex                             11                 3%

I will handle missing values in a DataFrame using scikit-learn's SimpleImputer [[21]](https://www.geeksforgeeks.org/ml-handle-missing-data-with-simple-imputer/) [[22]](https://www.analyticsvidhya.com/blog/2022/10/handling-missing-data-with-simpleimputer/). The imputation strategy is set to 'most frequent,' meaning it replaces missing values with the most frequently occurring value in each column.

First we will need to import the SimpleImputer class from scikit-learn's sklearn.impute module

In [21]:
from sklearn.impute import SimpleImputer

Then, the script create an instance of **SimpleImputer** called **imputer** and set its imputation strategy to 'most_frequent'. In other words, for each column, it identifies the value that appears most often and uses that value to fill in any missing data points in that column [[12]](https://www.kaggle.com/code/parulpandey/penguin-dataset-the-new-iris).

In [22]:
imputer = SimpleImputer(strategy='most_frequent')

Finally, the imputation is use to fill missing values in the DataFrame **df**.

In [46]:
df.iloc[:,:] = imputer.fit_transform(df)

If now we check the missing value using the function **missing_value_summary(df)** we can see that the missing valued have been replaced. The dataset is now ready for further analysis.

In [24]:
missing_value_summary(df)

                    Missing Values Percentage Missing
Species                          0                 0%
Island                           0                 0%
Bill_Length(mm)                  0                 0%
Bill_Depth(mm)                   0                 0%
Flipper_Length(mm)               0                 0%
Body_Mass(g)                     0                 0%
Sex                              0                 0%

### **2.2 Penguins Dataset's Variables**

#### **2.2.1. Types of Variables**

##### ***Types of variable - introduction***

<div>
  <center><img src="https://media.licdn.com/dms/image/C5612AQEymLCHsH7p3g/article-inline_image-shrink_1000_1488/0/1618524937477?e=1703116800&v=beta&t=8CuupP8FaloLOVhRSv5GpU-anBd5hEKgLG-eMYD_dE4" width="500"></center>
</div>

<div>
  <center><a href="https://www.linkedin.com/pulse/statistics-data-science-types-presentation-numerical-bhullar"><i>[Fig. 4] - Types of Data</i></a></center>
</div>

In the realm of statistics and data analysis, variables are typically grouped into two primary types: qualitative (categorical) variables and quantitative (numeric) variables [[23]](https://careerfoundry.com/en/blog/data-analytics/difference-between-quantitative-and-qualitative-data/) [[24]](https://www.linkedin.com/pulse/statistics-data-science-types-presentation-numerical-bhullar). 

These broad categories can be further subdivided as follows [[25]](https://statistics.laerd.com/statistical-guides/types-of-variable.php) [[26]](https://www.scribbr.com/statistics/levels-of-measurement/):

**Qualitative (Categorical) Variables**:
Qualitative variables are used to represent categories or labels, describing attributes that lack numeric values. It cannot be measured or counted. It’s descriptive, expressed in terms of language rather than numerical values.

 They fall into two subcategories:

1. ***Nominal Variables***:
    - Nominal variables consist of categories with no inherent order or ranking. They can be labelled but nor ordered 
    - Examples include Gender (Male, Female, Other), Colors (Red, Blue, Green), and Types of Fruit (Apple, Banana, Orange).<br>
    <br>

2.  ***Ordinal Variables***:
    - The cathegory used to classify the data have a clear, natural order and hierarchy.
    - The intervals between categories may not be uniform or precisely defined. The scale does not define how close or far apart categories are with each other. 
    - Examples include Education Level (High School, Bachelor's, Master's, Ph.D.) and Customer Satisfaction (Poor, Fair, Good, Excellent).

**Quantitative (Numeric) Variables**:
Quantitative variables serve to represent measurable quantities and are expressed as numerical values. They can be further categorized as follows:

1. ***Discrete Variables***:
    - Discrete variables assume a finite set of distinct values, often comprising whole numbers. Whole numbers cannot be broken down.
    - Examples include Number of Cars in a Parking Lot (1, 2, 3, ...) and Number of People in a Household (1, 2, 3, ...).<br>
    <br>

2. ***Continuous*** variables can be further categorized into two subtypes based on the measurement properties:

    a. *Interval Variables*: Interval variables have all the properties of continuous variables. The difference between values has a consistent, uniform interval but there is no true zero point.
    Examples include Temperature in Celsius or Fahrenheit, where 0 degrees does not represent the absence of temperature.

    b. *Ratio Variables*: Ratio variables have the properties of interval variables, but they also have a meaningful zero point. The presence of a zero point indicates the absence of the variable being measured.
    Examples include Height (in meters or feet), Weight (in kilograms or pounds), and Income (measured in currency units).

##### ***Types of variable - Palmer Penguins Data set***

The Penguins dataset is composed by 7 variables that can be devided in 2 main categories: 

        * Categorical / Nominal
        * Numerical / Continuos / Ratio

    1. Categorical - Nominal 
The dataset is composed of three variables that are categorical and nominal, representing distinct, non-ordered categories: Species, Island and Sex.

When dealing with categorical data, which consists of non-numeric categories or labels that represent distinct, unordered groups or classes,  some useful tool to understand the dataset[[27]](https://careerfoundry.com/en/blog/data-analytics/data-levels-of-measurement/#5-interval-data-examples-and-analysis):

- Frequency Distribution: A tabulated summary, often presented as a pivot table. It gives you a headcount for each category, revealing, for example, how many Penguns belong to a specific species and combined it with another variables.

- Mode: This is like finding the winner among the categories. It's the one that appears most frequently, the crowd favorite, or the top choice within your data.

In the context of categorical - nominal  data, a frequency distribution table (like a pivot table) offers a compact snapshot, showing you the counts for each category. These counts can also be presented as percentages, giving you a sense of the proportion of the entire dataset that belongs to each category.

            1.1. Species

It represents the species of penguins, which can be one of three types: Adelie, Gentoo, or Chinstrap. 

A good way to visualize a categorical-nominal variable is count the observations for each categories. The following code calculates the counts and normalized counts (rounded to two decimal places as percentages) of unique values in the 'Species' column of the DataFrame **df** using the **value_counts()** function [[28]](https://www.datacamp.com/tutorial/categorical-data), [[29]](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) . It then combines these values into a DataFrame with columns **Count** and **%**.

In [53]:
# Count the occurrences of each unique value in the 'Species' column
#https://www.datacamp.com/tutorial/categorical-data
count_species = df[['Species']].value_counts()
# Calculate the normalized counts, round them to two decimal places, convert to integers,
# and add '%' to represent them as percentages
#https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
normalize_species = (df[['Species']].value_counts(normalize=True).round(2)*100).astype(int).astype(str) + '%'
# Concatenate the 'count_species' and 'normalize_species' Series into a DataFrame
species_table = pd.concat([count_species, normalize_species], axis=1)
# Rename the columns to 'Count' and '%'
species_table.columns = ['Count', '%']
species_table

           Count    %
Species
Adelie       152  44%
Gentoo       124  36%
Chinstrap     68  20%

As per the above, the majority of observations were made on Adelie and Gentoo Islands.

            1.2 Islands

The name of the island within the Palmer Archipelago where the penguins was sighted: Biscoe, Dream, and Torgersen.

We can double check also for the variable Island the count for each of them.

In [55]:
# Count the occurrences of each unique value in the 'Island' column
count_islands = df[['Island']].value_counts()
# Calculate the normalized counts, round them to two decimal places, convert to integers,
# and add '%' to represent them as percentages
normalize_islands = (df[['Island']].value_counts(normalize=True).round(2)*100).astype(int).astype(str) + '%'
# Concatenate the 'count_species' and 'normalize_species' Series into a DataFrame
islands_table = pd.concat([count_islands, normalize_islands], axis=1)
# Rename the columns to 'Count' and '%'
islands_table.columns = ['Count', '%']
islands_table

           Count    %
Island
Biscoe       168  49%
Dream        124  36%
Torgersen     52  15%

            1.3 Sex 

Sex can be female or male.

In [56]:
# Count the occurrences of each unique value in the 'Island' column
count_sex = df[['Sex']].value_counts()
# Calculate the normalized counts, round them to two decimal places, convert to integers,
# and add '%' to represent them as percentages
normalize_sex = (df[['Sex']].value_counts(normalize=True).round(2)*100).astype(int).astype(str) + '%'
# Concatenate the 'count_species' and 'normalize_species' Series into a DataFrame
sex_table = pd.concat([count_sex, normalize_sex], axis=1)
# Rename the columns to 'Count' and '%'
sex_table.columns = ['Count', '%']
sex_table

        Count    %
Sex
Male      179  52%
Female    165  48%

    2. Numerical - Continuos - Ratio 
The dataset is composed of four  variables that are nominal, continuos and ratio.

Continuous numerical variables can take any real numerical value within a certain range and can be measured with great precision. Ratio variables had have a meaningful zero point, which indicates the absence of the quantity being measured.

For ratio data, we can utilize various descriptive statistics to summarize and explore data. These statistics apply when working with numerical data that has a starting point at 0.

Here are some of the most useful tools [[27]](https://careerfoundry.com/en/blog/data-analytics/data-levels-of-measurement/#5-interval-data-examples-and-analysis):

- Frequency Distribution: This tool provides a clear overview of how frequently each value appears, whether expressed as a count or a percentage.

- Mode, Median, and Mean: These metrics aid in identifying central tendencies. The mode is the most frequently occurring value, the median is the middle value, and the mean is the average, calculated by adding all values together and dividing by the total number of values.

- Range, Standard Deviation, Variance and Coefficient of variation: These measures offer insights into the variability within your dataset. Range is calculated by subtracting the lowest value from the highest. Standard deviation indicates the typical amount by which individual values deviate from the mean. Variance assesses how much the numbers in your dataset deviate from their average. The coeficient of Variation is calculated by dividing the standard deviation by the mean.

Those 4 variables are:

| Variables      | Units | Description<br>               |
| -------------- | ----- | ----------------------------- |
| Bill Length    | mm    | Length of a penguin's bill.   |
| Bill Depth     | mm    | Depth of a penguin's bill.    |
| Flipper Length | mm    | Length of a penguin's flipper |
| Body Mass      | gg    | Body mass of a penguin        |.

In [60]:
# Generate descriptive statistics on Numerical - continuos - ratio variables 
df.describe().round(2)

       Bill_Length(mm)  Bill_Depth(mm)  Flipper_Length(mm)  Body_Mass(g)
count           344.00          344.00              344.00        344.00
mean             43.91           17.15              200.85       4199.42
std               5.45            1.97               14.05        800.20
min              32.10           13.10              172.00       2700.00
25%              39.28           15.60              190.00       3550.00
50%              44.25           17.30              197.00       4025.00
75%              48.50           18.70              213.00       4750.00
max              59.60           21.50              231.00       6300.00

**Sources**

<details>
       <summary>References:</summary>
              <p>

Task 1
- [1] [How to take integer input in Python?](https://www.geeksforgeeks.org/how-to-take-integer-input-in-python/)
- [2] [Python while Loop](https://www.programiz.com/python-programming/while-loop)
- [3] [Python Program to Check if a Number is Odd or Even](https://www.toppr.com/guides/python-guide/examples/python-examples/python-program-to-check-if-a-number-is-odd-or-even/)
- [4] [Python Map – How to Map a List in Python 3.0, With Example Function Code](https://www.freecodecamp.org/news/python-map-function-how-to-map-a-list-in-python-3-0-with-example-code/)
- [5] [Python max() Function](https://www.w3schools.com/python/ref_func_max.asp)
- [6] [Python If ... Else](https://www.w3schools.com/python/python_conditions.asp)

<details>
    <summary>Other resourcers consulted:</summary>
           <p>

Task 1
- [Creating Links in Markdown](https://anvilproject.org/guides/content/creating-links)
- [Python Tutorial: How to take an integer input in Python](https://pieriantraining.com/python-tutorial-how-to-take-an-integer-input-in-python/)
- [Python For Loops](https://www.w3schools.com/python/python_for_loops.asp)
- [Python List max() Method](https://www.tutorialspoint.com/python/list_max.htm)
- [How To add Elements to a List in Python](https://www.digitalocean.com/community/tutorials/python-add-to-list)
- [LaTeX/Mathematics](ttps://en.wikibooks.org/wiki/LaTeX/Mathematics)

***
### End